.education .row {
    margin-top: 50px;
    border-left: 2px solid #33adff;

}
.education p {
    text-align: left;
    line-height: 20px;
    margin: 40px;
    font-size: 14px;
    /* border-left: 3px solid #33adff; */

}
.education h1 {
    font-size: 100px;
    text-align: right;
    margin-top: 370px;
    border-left: 2px solid #33adff;
}
.education .col-11 {
    display: flex;
    align-items: flex-end;
}